@{
    ViewBag.Title = "Player";
}
@if (Request.IsAuthenticated)
{
    <ol class="breadcrumb">
        <li><a href="/Game" class="link">&laquo; Return to Game</a></li>
    </ol>
    
}
<div id="search-container" class="hide container row">
    <h1>Search for Player</h1>
    <form method="get" class="form-inline" id="SearchForm" name="SearchForm">
        <div class="form-group">
            <label>Name</label>
            <input name="name" class="form-control" id="fName" />
        </div>
        <input class="form-control btn btn-primary" id="Search" type="submit" value="Log in &raquo;" />
    </form>
    <p id="searcherr" class="t  ext-danger hide">Player not found.</p>
</div>


<div id="output" class="hide" style="text-align:center;">
    <h1 id="PlayerName">Something</h1>
    <hr />

    <div class="img-container" style="display:inline-flex; justify-content:center;"><img id="TeamIcon" src="~/Content/Images/Teams/default.jpg" width="150" /></div>

    <h2><span id="TeamName">Good</span> - <span id="RoleName">Civillian</span></h2>
    <p>You are <span id="PlayerAlive" class="success">Alive</span></p>

    <h3>Your Ability</h3>
    <p id="RoleDescription">lorem ipsum dollar sit amet.</p>
    <h3>Your Goal</h3>
    <p id="TeamWinCondition">lorem ipsum dollar sit amet.</p>
</div>
<script>
    window.onload = function () {
        const q = location.search;
        const params = new URLSearchParams(q);
        const name = params.get("name");

        if (!name) {
            gid("search-container").classList.remove("hide");
            gid("searcherr").classList.add("hide");
        }
        else {
            FindPlayerByName(name);
        }

    }

    function FindPlayerByName(q) {
        api("PlayerData/FindPlayerByName/" + q, (res) => {
            if (!res) renderNoPlayer();
            else renderPlayer(res);
        })
    }

    function renderNoPlayer() {
        gid("output").classList.add("hide");
        gid("search-container").classList.remove("hide");
        gid("searcherr").classList.remove("hide");
    }

    function renderPlayer(player) {
        gid("search-container").classList.add("hide");

        set("PlayerName", player.PlayerName);
        set("RoleName", player.Role.RoleName);

        set("TeamName", player.Role.Team.TeamName);
        gid("TeamName").style.color = player.Role.Team.TeamColor;
        var src = "/Content/Images/Roles/default.png";
        if (player.Role.RoleHasImg) {
            src = "/Content/Images/Roles/" + player.Role.RoleId + "." + player.Role.RoleImgExt
        }
        gid("TeamIcon").src = src;
        set("PlayerAlive", player.PlayerAlive ? "Alive" : "Dead");

        set("TeamWinCondition", player.Role.Team.TeamWinCondition);
        set("RoleDescription", player.Role.RoleDescription);
        gid("output").classList.remove("hide");

    }

    function set(id, value) {
        gid(id).innerHTML = `${value}`;
    }
</script>