@model n01569183PetProject.Models.Player
@{
    ViewBag.Title = "Delete";
    Layout = "";
}

<h2>Confirm Deletion</h2>
<p>Are you sure you want to delete the Player: @Model.PlayerName?</p>
<form method="post" action="/Player/Delete/@Model.PlayerId">
    <input name="PlayerId" value="@Model.PlayerId" type="hidden" />
    <fieldset class="form-group">
        <button type="button" onclick="cancel('DeleteConfirmationBox')" class="btn btn-info">Cancel</button>
        <button type="submit" class="btn btn-danger">Delete</button>
    </fieldset>

</form>
