body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

/*
input,
select,
textarea {
    max-width: 280px;
}*/

.image-feature {
    width: 100%;
    object-fit:contain;
    background: lightgrey;
    padding: 5px;
}


textarea {
    resize: none;
    height:auto;
}

/*
    5

*/


.popup {
    padding: 20px;
    background-color: white;
    box-shadow: 3px 3px 5px #00000037;
    position:fixed;
    max-height:50vh;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    display:block;
    transform: translate(-50%,-50%);
}

.table-select {
    margin:0;
    padding: 0;
}

.mouse-hover:hover {
    user-select:none;
    cursor: pointer;
    text-decoration:underline;
}

.alive, .dead {
    font-weight: bold;
}

.alive {
    color: green;
}

.dead {
    color: red;
}
